html {
    font-size: 100%;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.0em;
}

/* Hide ads. TODO: is there a way to disable them altogether? */
#furo-sidebar-ad-placement {
    display: none;
}

.sidebar-container {
    width: 20em;
}
